.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;

  &__logo img {
    height: 50px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    margin-right: 20px;
  }

  &__item-link {
    text-decoration: none;
    color: #000;
    &--is--active {
      font-weight: bold;
      color: pink;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
  }

  &__search-bar {
    border: none;
    margin-left: 10px;
    outline: none;
    font-size: 16px;
  }
}
