.card {
  width: 100%;
  height: 100%; /* Ajusta la altura al 100% de la ventana */
  display: flex; /* Utiliza flexbox para alinear contenido */
  flex-direction: column; /* Alinear el contenido en columna */
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;

  h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  .section {
    width: 100%; /* Asegura que la sección ocupe todo el ancho disponible */
    flex: 1; /* Permite que esta sección crezca para ocupar el espacio restante */
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      color: #555;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      color: #666;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
      }
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


