.card-home {
  width: 100%;
  padding: 0; /* Remove padding if you want full width without any margin */
  margin: 0; /* Remove margin if you want full width without any space around */
}

.card {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  overflow: hidden;
}

.section {
  margin-bottom: 16px;
}

.section h2 {
  margin-bottom: 8px;
}

.section ul {
  list-style-type: none;
  padding: 0;
}

.section li {
  margin-bottom: 8px;
}

.section li a {
  text-decoration: none;
  color: #1976d2;
}


